{
    "*.{js,jsx}": [
      "eslint --no-ignore",
      "git add --force"
    ],
    "*.{json,md,graphql}": [
      "prettier --write",
      "git add --force"
    ],
    "*.{css,less,styl,scss,sass,sss}": [
      "stylelint",
      "git add --force"
    ]
  }
